.root {
    -fx-background-image: url("../images/menu/background.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-font-family: "Segoe UI", sans-serif;
}

#settingsButton {
    -fx-background-image: url("../images/menu/settings_button.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-min-width: 64px;
    -fx-min-height: 64px;
    -fx-pref-width: 64px;
    -fx-pref-height: 64px;
}

#loginButton {
    -fx-background-image: url("../images/menu/user-login.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-min-width: 64px;
    -fx-min-height: 64px;
    -fx-pref-width: 64px;
    -fx-pref-height: 64px;
}


.button {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-background-radius: 10;
    -fx-padding: 10 30;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 0, 2);
}

#tipBox {
    -fx-background-radius: 12px;
    -fx-border-radius: 12px;
    -fx-font-weight: bold;
    -fx-border-color: rgba(0, 0, 0, 0.2); /* optional subtle border */
    -fx-border-width: 1px;
    -fx-padding: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 10, 0, 0, 2);
}


/* Mode Buttons */
#classicModeButton {
    -fx-background-color: #1e293b;
}

#modernModeButton {
    -fx-background-color: #2563eb;
}

#crazyModeButton {
    -fx-background-color: #ef4444;
}

#highscoreButton {
    -fx-background-color: #facc15;
    -fx-text-fill: #0f172a;
}

/* Login Buttons */
#submitButton {
    -fx-background-color: #10b981;
}
#cancelButton {
    -fx-background-color: #f87171;
}

/* Hover Effects */
#classicModeButton:hover {
    -fx-background-color: #334155;
}

#modernModeButton:hover {
    -fx-background-color: #3b82f6;
}

#crazyModeButton:hover {
    -fx-background-color: #f87171;
}

#highscoreButton:hover {
    -fx-background-color: #fde047;
}
