<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings>
                                                                
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <user name="cosmic" speed="5.5"/>
                                                            





    
    
    
    
    
    
    
    
    
    <user name="comsic" speed="10.0"/>
                                    
    
    
    
    
    
    
    
    
    <user name="caaadadd" speed="6.0"/>
                                
    
    
    
    
    
    
    
    <user name="adjnajdnadj" speed="1.0"/>
                            






</settings>
